#home .bar-header {
  padding: 0;
  background-color: rgba(0,0,0,0.5);
}
#home .bar-header img {
  /*margin: 0 auto;*/
  margin-left: 10px;
}

#home .bar-header button{
  display: inline-block;
  float: right;
  /*margin-right: 10px;*/
  position: relative;
  left: 30px;
  /*right: -80px;*/
  padding: 0 5px;

  top:0;
  bottom: 0;
  background-color: transparent;
}
#home .collecNum{
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 8px 8px 8px 0 ;
  background-color: red;
  color: #fff;
  position: relative;
  line-height:16px;
  /*top:6px;*/
  /*left: 128px;*/
}
#home .has-header{
  position: relative;
  top:44px;
}
#home .articleLis{
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}
#home .writeTime{
  float: right;
  margin-right: 5px;
}
#home .articleTitle{
  margin-left: 5px;
  text-decoration: none;
}
